




#details {
	width: 690px;
	min-height: 600px;
	float: left;
}
#details h2 {
	border: 1px solid #e6e6e6;
	border-bottom: 0;
}
#details h3 {
	text-align: center;
	color: #333;
	padding: 23px 0 0 0;
	font-size: 19px;
}
#details .d1 {
	padding: 13px;
	text-align: center;
}
#details .d2 {
	padding: 13px;
	margin: 13px;
	background: #fffeee;
	border: 1px solid #e6e6e6;
	line-height: 1.75;
	letter-spacing: 1px;
}
#details .d3 {
	padding: 23px 13px 13px 13px;
	color: #666;
}
#details .d3 img {
	display: block;
	margin: 13px auto;
}
#details .d3 p {
	text-indent: 2em;
	word-break: break-word;
	line-height: 1.9;
	margin-bottom: 13px;
	text-shadow: 1px 1px #fff;
}
#details .d4 {
  margin-bottom: 13px;
  padding: 8px;
  border: 1px dashed #bebebe;
}
#details .d5 {
  padding: 8px;
  border: 1px solid #bebebe;
  margin-top: 13px;
  margin-bottom: 13px;
  clear: both;
}
#details .d5 p {
	padding: 10px 0;
}
#details .d5 .radio {
	position: relative;
	top: 2px;
}
#details .d5 p.orange {
	color: red;
}
#details .d5 textarea {
	width: 654px;
	height: 233px;
	border: 1px solid #bebebe;
	padding: 8px;
	font-size: 19px;
	letter-spacing: 1px;
}
#details .d5 .code {
	width: 100px;
	height: 43px;
	vertical-align: top;
	text-indent: 6px;
	color: #666;
}
#details .d5 img {
	vertical-align: top;
}
#details .d6 span {
	color: #06f;
}
#details .d6 {
	border: 1px solid #e6e6e6;
	float: left;
	margin: 0 0 13px 0;
}
#details .d6 h2 {
	border: 0;
}
#details .d6 {
  width: 100%;
  margin: 13px 0;
  border-bottom: 1px solid #e6e6e6;
}
#details .d6 dl {
	width: 96%;
	height: auto;
	float: left;
	margin: 13px 0 0 15px;
	border-bottom: 1px solid #e6e6e6;
}
#details .d6 dl dt,
#details .d6 dl dt img {
	width: auto;
	height: auto;
}
#details .d6 a {
  color: #666;
  padding-right: 6px;
  font-weight: normal;
  font-size: 13px;
}
#details .d6 h2 a {
	float: right;
}
#details .d6 dl:last-child {
  border-bottom: 0;
}
#details .d6 dl dt {
  float: left;
}
#details .d6 dl dt img {
  display: block;
}
#details .d6 dl dd {
  width: 576.6666666px;
  float: right;
  padding: 0 0 6px;
  margin: 0;
}
#details .d6 dl dd span {
  color: #06f;
}
#details .d6 dl dd.info {
  font-size: 14px;
  line-height: 170%
}
#details .d6 dl dd.bottom {
  text-align: right;
}
#details .d6 dl dd em {
  float: right;
  font-style: normal;
}
#details .submit {
	width: 105px;
	height: 43px;
	display: block;
	border: 1px solid #d3d3d3;
	background: #eee;
	border-radius: 4px;
	line-height: 1;
	cursor: pointer;
	outline: none;
	margin-top: 13px;
}
#details h2 a {
	color: #06f;
}
#details dl {
	height: 110px;
	margin: 13px 0;
	border-bottom: 1px dashed #e6e6e6;
}
#details dl dt {
	width: 150px;
	height: 110px;
	float: left;
}
#details dl dt img {
	width: 150px;
	height: 100px;
	border: 1px solid #eee;
	display: block;
}
#details dl dd {
	float: left;
	width: 530px;
	margin: 0 0 0 10px;
	padding: 0 0 3px 0;
	line-height: 160%;
}
#details dl dd a {
	color: #06f;
	font-weight: bold;
	font-size: 14px;
}
#details dl dd a:hover {
	color: orange;
}
.none {
	padding: 23px 0;
	text-align: center;
	border-bottom: 1px solid #eee;
}
#sidebar {
	width: 260px;
	min-height: 600px;
	float: right;
}
#sidebar .nav {
	border: 1px solid #e6e6e6;
	text-align: center;
	padding: 0 0 6px 0;
	margin: 0 0 10px 0;
}
#sidebar .nav strong {
	width: 113px;
	height: 23px;
	line-height: 23px;
	border: 1px solid #e6e6e6;
	display: inline-block;
	margin: 6px 0 0 0;
}
#sidebar .nav span {
	display: inline-block;
	padding: 6px 0 6px 0;
	margin-top: 2.33px;
}
#sidebar .nav strong a {
	font-weight: normal;
	color: #666;
	display: inline-block;
	width: 113px;
	height: 23px;
	background: #eef3fc;
}
#sidebar div.right {
	border: 1px solid #e6e6e6;
	margin: 0 0 10px 0;
}
#sidebar div.right ul {
	padding: 2px 10px 0 10px;
}
#sidebar div.right ul li {
	height: 23px;
	line-height: 23px;
	background: url(../images/pointer.png) no-repeat left center;
	padding: 0 0 0 10px;
}
#sidebar div.right ul li em {
	float: right;
	font-style: normal;
	font-family: Tahoma;
}
#sidebar div.right ul li a {
	color: #666;
}
#sidebar div.right ul li a:hover {
	text-decoration: underline;
}